.home-page {
  display: flex;
  justify-content: end;
  /* background-color: rgb(130, 212, 35); */
  gap: 20px;
  padding: 20px;
}

.image-container img {
  width: 100%;
  margin-top: 10px;
  height: 350px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #15ddb2;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

/* active dot */
.dot.active {
  background-color: red;
  transform: scale(1.3);
}
