.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.layout-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .layout-content {
    padding: 20px 15px;
  }
}
